<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Welcome back, Trung</h3>
                            <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span
                                    class="text-primary">3 unread alerts!</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Top Up</h4>
                                <form class="form-inline">
                                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                                        placeholder="Top Up Amount"
                                        style="margin: 45px 45px; width: calc(100% - 90px); border: 1px solid #4B49AC">
                                </form>
                                <button class="btn" id="btn-top-up" type="submit"><i class="ti-wallet mx-2"></i> TOP
                                    UP</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card mb-3" style="max-width: 540px; background-color: #4B49AC;">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-body" style="margin-top: 5vw;">
                                        <h5 class="card-title" style="color: white;">Balance</h5>
                                        <p class="card-text" style="color: white;font-size: 1.5vw;">100.000.000 VND</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="./img/wallet.png" class="img-fluid rounded-start" alt="people"
                                        style="width: 100%;height: 301px; padding: 10px 0;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title mb-0">Transaction History</p>

                            <div class="table-responsive">
                                <table class="table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Recipient</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face1.jpg" alt="image" />
                                            </td>
                                            <td>Search Engine Marketing</td>
                                            <td class="font-weight-bold">$362</td>
                                            <td>21 Sep 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-success">Completed</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face2.jpg" alt="image" />
                                            </td>
                                            <td>Search Engine Optimization</td>
                                            <td class="font-weight-bold">$116</td>
                                            <td>13 Jun 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-success">Completed</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face3.jpg" alt="image" />
                                            </td>
                                            <td>Display Advertising</td>
                                            <td class="font-weight-bold">$551</td>
                                            <td>28 Sep 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-warning">Pending</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face4.jpg" alt="image" />
                                            </td>
                                            <td>Pay Per Click Advertising</td>
                                            <td class="font-weight-bold">$523</td>
                                            <td>30 Jun 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-warning">Pending</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face5.jpg" alt="image" />
                                            </td>
                                            <td>E-Mail Marketing</td>
                                            <td class="font-weight-bold">$781</td>
                                            <td>01 Nov 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-danger">Cancelled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face6.jpg" alt="image" />
                                            </td>
                                            <td>Referral Marketing</td>
                                            <td class="font-weight-bold">$283</td>
                                            <td>20 Mar 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-warning">Pending</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="./img/faces/face7.jpg" alt="image" />
                                            </td>
                                            <td>Social media marketing</td>
                                            <td class="font-weight-bold">$897</td>
                                            <td>26 Oct 2018</td>
                                            <td class="font-weight-medium">
                                                <div class="badge badge-success">Completed</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
</div>